<link rel="stylesheet" href="/css/advanced-search.css">

    <div class="advancedDocs">
        <div class="inputItem">
            <label for="title">Title: </label>
            <input name="titleInput" type="text" id="title">
        </div>

        <div class="inputItem">
            <label for="metadata">Metadata: </label>
            <select name="metadataKeySelect" id="metadataKeySelect">
                <option selected value="">Key</option>
                <% for (var i = 0; i < keys.length; i++) { %>
                    <option value=<%= keys[i] %>><%= keys[i] %></option>
                <% } %>
            </select>
            <input name="metadataValue" type="text">
        </div>
    
        <div class="inputItem">
            <label for="author">Author: </label>
            <input name="author" type="text" class="author">
            <button type='button' class="add">Add</button>
            <button type='button' class="remove">Remove</button>
        </div>
        
        <div id="new_chq"></div>
        <input type="hidden" name="numAuthors" value="1" id="total_chq">
        
    </div>



<script>
    $(document).ready(function () {
        $('#metadataKeySelect').selectize({
            sortField: 'text'
        });

        $('.add').on('click', add);
        $('.remove').on('click', remove);
    });

    function add() {
        var new_chq_no = parseInt($('#total_chq').val()) + 1;
        var new_input = "<div class='inputItem' id='new_" + new_chq_no + "'><label>Author: </label> <input name='author_" + new_chq_no + "' type='text' class='author'></div>";

	    $('#new_chq').append(new_input);
        $('#total_chq').val(new_chq_no);
    }

    function remove() {
        var last_chq_no = $('#total_chq').val();

        if (last_chq_no > 1) {
            $('#new_' + last_chq_no).remove();
            $('#total_chq').val(last_chq_no - 1);
        }
    }

</script>