<div id="searchForTermTable" class="invisible">
    <form>
        <input type="text" id="termSearchBar" placeholder="Enter search term">
        <button type="button" id="submitButton" >Submit</button>
    </form>
    <br>
    <% var passage = "" %>
    <% for (var i = 0; i < content.length; i++) { %>
        <% passage += content[i].substring(12, content[i].length-2) + " " %>
    <% } %>
    <p id="givenTermPrint" class="invisible" style="outline: solid 1px; padding: 1rem;">
    </p>
    
</div>

<script>
    $(document).ready(function() {
        $('#submitButton').on('click', function() {
            var passage = '<%= passage %>';
            $('#givenTermPrint').text(passage);
            let userInput = $('#termSearchBar').val();
            $('#givenTermPrint').removeClass("invisible");

            let str = $("#givenTermPrint").text();
            var term = userInput;

            var termRegExp = new RegExp('\\b' + term + '\\b', 'gi')
            str = str.replace(termRegExp, function(match) {
                return '<span class="highlight">' + matchCase(term, match) + '</span>'
            });

            $("#givenTermPrint").html(str);
        });

        function matchCase(text, pattern) {
            var result = '';
            for(var i = 0; i < text.length; i++) {
                var c = text.charAt(i);
                var p = pattern.charCodeAt(i);

                if(p >= 65 && p < 65 + 26) {
                    result += c.toUpperCase();
                } else {
                    result += c.toLowerCase();
                }
            }
            return result;
        }
    });
</script>