<link rel="stylesheet" href="/css/advanced-search.css">
<div class="advancedTerms">
    <div class="inputItem">
        <label></label>
        <select id="partOfSpeechSelect">
            <option selected>Part of Speech</option>
            <option>Noun</option>
            <option>Adjective</option>
            <option>Verb</option>
            <option>Auxiliary</option>
        </select>
    </div>
    <div class="inputItem">
        <label for="head-input">Head: </label>
        <input type="text" id="head-input">
        <select id="relSelect">
            <option selected>Relation: </option>
            <option>Noun</option>
            <option>Adjective</option>
            <option>Verb</option>
            <option>Auxiliary</option>
        </select> 
    </div>
    <div class="inputItem">
        <label for="dep-input">Dependent: </label>
        <input type="text" id="dep-input">
    </div> 
  </div>