<link rel="stylesheet" href="/css/advanced-search.css">

    <div class="advancedTerms">
        <div class="inputItem">
            <label></label>
            <select name="partOfSpeechSelect" id="partOfSpeechSelect">
                <option selected value="">Part of Speech</option>
                <option value="NOUN">Noun</option>
                <option value="ADJ">Adjective</option>
                <option value="VERB">Verb</option>
                <option value="AUX">Auxiliary</option>
                <option value="PROPN">Proper Noun</option>
            </select>
        </div>
        <div class="inputItem">
            <label for="headInput">Head: </label>
            <input name="headInput" type="text" id="headInput">
            <select name="relSelect" id="relSelect">
                <option value="">Relations</option>
                <% for (var i = 0; i < rels.length; i++) { %>
                    <option value=<%= rels[i] %>><%= rels[i] %></option>
                <% } %>
            </select> 
        </div>
        <div class="inputItem">
            <label for="depInput">Dependent: </label>
            <input name="depInput" type="text" id="depInput">
        </div> 
    </div>



  <script>
    $(document).ready(function () {
        $('#relSelect').selectize({
            sortField: 'text'
        });
    });
  </script>