<%- include('partials/header') -%>

<body>
    <%- include('partials/search-bar-js') -%>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus required name="word">
        <button type="submit" onclick="checkButton(); showTables();"> Submit </button><br><br>
        <p>I want to find...</p>
        <input type="radio" value="Terms" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2"> Terms<br>
        <input type="radio" value="Documents" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1" checked> Documents<br>
    </form>
    <br>
    <div id="doc-table">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <th>Document Title</th>
                <th>Publication Date</th>
                <th>Authors</th>
                <th>Term in Document</th>
            </thead>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <% var parts = data[i].split('","'); %>
                    <% for(var j = 0; j < parts.length; j++) { %>
                        <% if (j === 0) { %>
                            <td>
                                <%= parts[j].split(":")[1].substring(1) %>
                            </td>
                        <% } else if (j === 3) { %>
                            <td>
                                <% var id = parts[1].split(":")[1].substring(1)%>
                                <% var url = "/termindoc/" + id%>
                                <a href=<%= url %>>Doc Page</a>
                            </td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                        
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>