<%- include('partials/header') -%>

<body>
    <%- include('partials/search-bar-js') -%>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus required name="word">
        <button type="submit" onclick="checkButton(); showTables();"> Submit </button><br><br>
        <p>I want to find...</p>
        <input type="radio" value="Terms" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2"> Terms<br>
        <input type="radio" value="Documents" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1" checked> Documents<br>
    </form>
    <br>
    <div id="doc-table">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <th>Document Title</th>
                <th>Publication Date</th>
                <th>Authors</th>
                <th>Term in Document</th>
            </thead>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <% for(var j = 0; j < data[i].split(",").length; j++) { %>
                        <td>
                            <%= data[i].split(",")[j].split(":")[1] %>
                        </td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>