<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/index.css">
<script src="https://kit.fontawesome.com/a80cd916ad.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <div class="container">
            <div class="search-bar-div">
                <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus required name="word">
                <button type="submit" id="search-button" onclick="checkButton(); showTables();">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="container2">
            <h3 id="label-text">I want to find...</h3>
            <div class="radio-buttons">
                <span class="radio-button"><input type="radio" id="terms" value="Terms" class="form-check-input radio-button" name="flexRadioDefault" id="flexRadioDefault2" checked> Terms</span>
                <span class="radio-button"><input type="radio" id="documents" value="Documents" class="form-check-input radio-button" name="flexRadioDefault" id="flexRadioDefault1"> Documents</span>
                <br>    
            </div>
            <br>
            <div class="advanced-search">
                <button type="button" onclick="checkAdvancedSearchButton();" class="btn btn-primary btn-lg">Advanced Search</button>
            </div>
        </div>
        <div id="search-advanced-terms" class="invisible">
            <%- include('partials/search-advanced-terms') -%>
        </div>
        <div id="search-advanced-docs" class="invisible">
            <%- include('partials/search-advanced-docs') -%>
        </div>
    </form>

    <script>
        function checkButton() {
            let userInput = document.getElementById('search-bar').value;
            if(document.getElementById('terms').checked) {
                document.getElementById("doc-table").classList.add("invisible");
                document.getElementById("term-table").classList.remove("invisible");
    
            } else {
                document.getElementById("term-table").classList.add("invisible");
                document.getElementById("doc-table").classList.remove("invisible");
    
            }
        }
    </script>

<script>
    function showTables() {
        let userInput = document.getElementById('search-bar').value;
        var tableRowTerms = document.getElementsByClassName('term-tr');
        var tableDataTerms = document.getElementsByClassName('term-td');
        for (var i = 0; i < tableRowTerms.length; i++) {
            if (tableDataTerms[i].innerHTML.trim() != userInput.trim()) {
                tableRowTerms[i].classList.add("invisible-row");
            }   
        };
    }
    
</script>

<script>
    function checkAdvancedSearchButton() {
        if(document.getElementById('terms').checked) {
            document.getElementById("search-advanced-docs").classList.add("invisible");
            document.getElementById("search-advanced-terms").classList.remove("invisible");
        } else {
            document.getElementById("search-advanced-terms").classList.add("invisible");
            document.getElementById("search-advanced-docs").classList.remove("invisible");
        }
    }

</script>

</body>

</html>