html {
    margin: 0.5rem 5rem 0 5rem;
}

td, th {
    word-wrap: break-word;
    max-width: 150px;
}

.invisible {
    display: none;
    height: 0;
}

.invisible-row {
    display: none;
}

.term-data-1, .term-data-2, .doc-data {
    outline: 1px solid;
    padding: 1rem;
}

.label {
    font-weight: bold;
}

.highlight {
    background-color: yellow;
}
